<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main class="container">
        <div id="banner" class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Loc8r <small>&nbsp; <%=app_quote %></small></h1>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="row list-group">

                    <% available_locations.forEach(item=>{  %>


                    <div class="class-xs-12 list-group-item">
                        <h4>
                            <a href='/location'><%=item.loc_name %></a>
                            <small>&nbsp;
                                <span class="star-rating">
                                    <% for(let i=1;i<=max_rating;i++){ %>
                                    <span class="glyphicon glyphicon-star<%=item.loc_rating>=i?'':'-empty' %>"></span>
                                    <% }%>


                                </span>
                            </small>
                            <span class="badge pull-right badge-default"><%=item.loc_distance %></span>
                        </h4>
                        <p class="address"><%=item.loc_address %></p>
                        <p>
                            <% item.loc_facilities.forEach(item=>{ %>


                            <span class="label label-warning"><%=item %> &nbsp;</span>

                            <% }) %>
                        </p>

                    </div>
                    <% }) %>

                </div>


            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="lead"><%=app_description %> </p>
            </div>

        </div>

    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>