<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main>

        <div class="container">
            <div>
                <h1 class="page-header"><%= info.name %></h1>
            </div>
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <div class="row">

                        <div class="col-md-6 col-xs-12">

                            <% 
                          for(i=1;i<=info.max_rating;i++){ %>
                            <span class="glyphicon glyphicon-star<%=info.loc_rating>=i?  ' ': '-empty' %> "></span>

                            <%   }  %>

                            <p class="address"><%=info.address %> </p>


                            <div class="panel panel-primary">
                                <div class=" panel-heading">
                                    <h4 class="panel-title">Opening Hours</h4>
                                </div>
                                <div class=" panel-body">
                                    <% info.openingHours.forEach((item)=>{ %>
                                    <p><%=item %></p>
                                    <%  }) %>
                                </div>
                            </div>


                            <div class="panel panel-primary">
                                <div class=" panel-heading">
                                    <h4 class="panel-title">Facilities</h4>
                                </div>
                                <div class="panel-body">
                                    <% info.facilities.forEach(item=>{ %>
                                    <span class="label label-warning"><%=item  %></span>
                                    <% }) %>


                                </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="panel panel-primary">
                                <div class=" panel-heading">
                                    <h4 class="panel-title">Location Map</h4>
                                </div>
                                <div class="panel-body">
                                    <span class="location-map">
                                        <img class="img-responsive img-rounded" src="<%=info.loc_url %>" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <a class="btn btn-default pull-right" href="/location/review/new">Add Review</a>
                                    <h4 class="panel-title"> Customer Reviews</h4>
                                </div>
                                <div class="panel panel-default">
                                    <% info.cutomer_reviews.forEach(item=>{ %>



                                    <div class="panel-body">
                                        <% for(i=1;i<=info.max_rating;i++){ %>
                                        <span
                                            class="glyphicon glyphicon-star<%=item.customer_rating>=i?'':'-empty' %>"></span>
                                        <% }  %>


                                        <span><%=item.customer_name %></span>
                                        <span><%=item.date %></span>
                                    </div>

                                    <div class="panel-heading"><%=item.customer_review %></div>

                                    <%  })  %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <p><%=info.loc_overview %></p>
                    <h6 class="h6">If you've been and you like it-or if you don't please leave a review to help other
                        people jsut like you.</h6>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>